-https://hh.ru/article/22393?hhtmFrom=article_students_job-search-for-students_list 
-https://cposo.ru/images/docs/Klassifikacija_professij_E.A.Klimova.pd
-https://4brain.ru/blog/proforientaciya-po-klimovu-maksimum-informacii-za-3-minuty/
-https://gymnazmorsh.gosuslugi.ru/netcat_files/176/3161/Matrica_vibora_professiy.pdf  
-https://kolpduc.tom.ru/files/vektor/DiagnostikaPoProfOrient/OprosnikProfSklonnostei.pdf 
-https://atlas100.ru/catalog/ 
-https://www.python.org/doc/
-https://www.geeksforgeeks.org/python/a-beginners-guide-to-streamlit/
Если предыдущие пункты отвечали на вопросы «зачем» и «что на нас влияет», то здесь мы наконец переходим к системе. 
Мир профессий — это не просто хаотичный список из тысячи названий, а сложная структура, в которой можно ориентироваться, если знать ключ.  

Одну из самых известных классификаций предложил советский психолог Евгений Александрович Климов. 
Его схема оказалась настолько удачной, что её до сих пор используют в школах, университетах и центрах профориентации.  

Евгений Александрович Климов (1930–2014) —  доктор психологических наук, профессор, академик АПН СССР, автор классификации профессий по пяти типам и создатель «Дифференциально-диагностического опросника (ДДО)». 
Его схема до сих пор используется в школах, университетах и центрах профориентации.
— В общем и целом, человек очень образованный и понимающий; хорошо разбирающийся в психологии; человек, 
чьи труды озарили вопрос профориентации и показали нам его замечательную классификацию. 


Можно задуматься: "А почему именно она и почему это всё еще работает?". Ответ очень прост - всё чем человек занимается, так или иначе умещается в эти пять типов. 
Суть человеческого труда будет оставаться. Возьмём, к примеру, современного SMM-менеджера. Казалось бы, новая профессия, которой не было во времена Климова. 
Но если присмотреться: он работает с людьми, знаковыми системами (статистика, тексты) и художественным образом (дизайн).